@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTnormsPro/TTNormsPro-Light.ttf");
  font-weight: lighter;
}
  @font-face {
    font-family: "TTNormsPro";
    src: url("../fonts/TTnormsPro/TTNormsPro-Medium.ttf");
    font-weight: light;}
    
@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTnormsPro/TTNormsPro-Regular.ttf");
  font-weight: normal;}


@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTnormsPro/TTNormsPro-Bold.ttf");
  font-weight: bold;

}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-Bold.ttf");
  font-weight: bold;
}